@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #272a30;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #337eff;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a90e2;
}
